<!DOCTYPE html>
<html>
<head>
    <title>FLATBOX {% block title %}{% endblock %}</title>
    <style type="text/css">
        .errorlist{
            color:red;
        }

        .banner{
            text-align: center;
        }

        .messagelist{
            list-style: none;
            color: blue;
        }
    </style>
</head>
<body>
<div class="banner">
    
    <div>
        *********************************************
    </div>
    <div>
        <a href="/">FLATBOX</a>
    </div>
    <div>                            
        *********************************************
    </div>
</div>
{% block content %}
{% endblock %}

<hr/>
<div class="banner">
    <a href="https://bitbucket.org/yurka/flatbox">source code</a>
</div>
</body>
</html>