{% extends "base.html" %}

{% block content %}
    <div>
        привет, <b>{{ user.username }}</b>|
        <a href="{% url 'logout' %}?next=/">Выйти</a>
    </div>
    <hr/>
    <div>
        {% if storage.get_limits %}
        можно загрузить еще {{ storage.get_limits }} файлов
        <form action="/upload/" method="post" enctype="multipart/form-data">
            <input type="file" name="file"/> 
            {% csrf_token %}
            <button>Загрузить</button>
        </form>
        {% else %}
            <span style="color:brown">невозможно загружать файлы - квота исчерпана</span>
        {% endif %}
        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                     <li>{{ message|capfirst }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <hr/>

    <div>
        <h3>Загруженнве файлы:</h3>
        <table>
            {% for item in files_list %}
                <tr>
                    <td>{{ item.filename }}</td>
                    <td>
                        <a href="/get/{{ item.pk }}/{{ item.filename }}">Скачать</a>
                    </td>
                    <td>
                        <form action="/delete/{{ item.pk }}/" method="post"
                              onsubmit="return del_confirm('{{ item.filename }}')">
                            {% csrf_token %}
                            <button>Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
    function del_confirm(fname){
        var agree = confirm("Вы действительно хотите удалить файл " + fname + "?");
        return agree;
    }
    </script>
{% endblock %}