{% extends "base.html" %}

{% block content %}

        <div>
            <h2>Вход</h2>
            <span style="color:red">{{ message }}</span>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_ul }}
                <input type="hidden" name="next" value="/" />
                <button>Войти</button>
            </form>
            <a href="/sign_up/">регистрация</a>
        </div>
      
{% endblock %}