{% extends "base.html" %}

{% block content %}

        <div>
            <h2>Регистрация</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_ul }}
                <button>Зарегистрироваться</button>
            </form>
        </div>
 
{% endblock %}